<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>메시지</h4>
    <div>
        <ul></ul>
    </div>
    <form id="message-form">
        <input type="text" name="message">
        <button>Send</button>
    </form>
    <script>
        var socket = null
        function enterRoom(roomId) {
            alert(roomId)

            if (socket !== null) {
                socket.close()
            }
            socket = new WebSocket(socketEndPoint + roomId)
            socket.onmessage = function(e) {
                addMessage(JSON.parse(e.data))
            }
        }

        function addMessage(message) {
            const ul = document.querySelector('ul')
            ul.innerHTML += message
        }

        const form = document.querySelector('#message-form')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            if (!form.message.value) return alert('메시지를 입력하세요')
            if (!socket) {
                console.log("error: There is no socket connection")
                return
            }
            
            waitForSocketConnection(socket, function() {
                socket.send(JSON.stringify({
                    "room_id": currentRoomId,
                    "content": form.message.value
                }))
                form.message.value = ""
            })
            return false
        })

        function waitForSocketConnection(socket, callback) {
            setTimeout(() => {
                if (socket.readyState === 1) {
                    if (callback != null) {
                        callback()
                    }
                    return
                } else {
                    console.log("wait for connection....")
                }
            }, 5)
        }

    </script>
</body>
</html>