<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" id="room-name" name="name">
        <button>create room</button>
    </form>
    <div>
        <ul></ul>
    </div>
    <script>
        var currentRoomId = null
        
        const roomForm = document.querySelector("form")
        roomForm.addEventListener("submit", (e) => {
            e.preventDefault()
            console.log(roomForm.name.value)

            fetch("/rooms", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({name: roomForm.name.value})
            })
        })

        fetch("/rooms").then(res => res.json()).then(data => printList(data))

        function printList(data) {
            console.log(data)
            const ul = document.querySelector('ul')
            ul.innerHTML = data.map(d => `<li id="${d.id}">${d.name}</li>`).join('')
            
            ul.addEventListener('click', (e) => {
                if (e.target.tagName == 'LI') {
                    const roomId = e.target.id
                    enterRoom(roomId)
                    currentRoomId = roomId
                }
            })
        }
    </script>
</body>
</html>